
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    li {
        list-style: none;
    }
</style>
<h2>Reports</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    @Html.ActionLink("Inventory Report", "Inventory")
                </li>
                <li>
                    @Html.ActionLink("Sales Report", "Sales")
                </li>
            </ul>

            
        </div>
    </div>
 
    
</div>


