@model GuildCars.Models.ApplicationUser
@{
    ViewBag.Title = "Makes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<%Page Language="C#" %>
<%Import Namespace="System.Web.Security" %>

<script runat="server">
        public void Page_Load()
        {
            currentUser = Membership.GetUser();
        }

</script>
-->


<h2>Makes</h2>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form id="makeForm">
                <label for="newMake">New Make</label>
                @Html.HiddenFor(m => m.Email, new { @class = "form-control", id = "addedBy" })
                <!--<input type="hidden" id="addedBy" name="addedBy" value="testadmin" />--> <!-- once security is implemented, change this to username or email or whatever-->-->
                <input type="text" id="newMake" name="make" />
            </form>

        </div>
        <div class="col-6">
            <button type="submit" id="submitMake">Save</button>
        </div>
    </div>
</div>

<table class="table table-bordered" id="makeTable">
    <thead>
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Date Added</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody id="makes">

    </tbody>
</table>

<script>
    $(document).ready(function () {
        $.ajax(
            {
                type: "GET",
                url: "https://localhost:44318/api/getMake",
                success: function (makeArray) {
                    $.each(makeArray, function (index, make) {
                        var id = make.make_ID;
                        var maker = make.make;
                        var dateAdded = make.dateAdded;
                        var addedBy = make.addedBy;

                        var tableRow = document.createElement("tr");

                        var td1 = document.createElement("td");
                        td1.id = "make" + id;
                        tableRow.appendChild(td1);

                        var td2 = document.createElement("td");

                        td2.id = "dateAdded" + id;
                        tableRow.appendChild(td2);

                        var td3 = document.createElement("td");
                        td3.id = "addedBy" + id;
                        tableRow.appendChild(td3);

                        

                        var table = document.getElementsByClassName("table");
                        $(table).find('tbody').append(tableRow);

                        $("#make" + id).text(maker);
                        $("#dateAdded" + id).text(dateAdded);
                        $("#addedBy" + id).text(addedBy);

                    });
                },
                error: function () {
                    alert("Ajax failure");
                }
            });
        $("#submitMake").click(function () {
            $.ajax({
                type: "POST",
                url: "https://localhost:44318/api/addMake",
                contentType: 'application/json',
                data: JSON.stringify({ "make": $('#newMake').val(), "addedBy": $('#addedBy').val() }),
                success: function (data, textStatus, jQxr) {
                    $('#makeForm').html(JSON.stringify(data));
                    window.location.reload();
                },
                error: function (jqXr, textStatus, errorThrown) {
                    console.log(errorThrown);
                } 
            });
            
        });
    });
</script>