@model Exercises.Models.Data.State

@{
    ViewBag.Title = "EditState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Major</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.StateAbbreviation)
        <div class="form-group">
            <label>State</label>
            @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State" })
            @Html.ValidationMessageFor(m => m.StateName)
        </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>

